Repository solvcon/devenv, pull requests merged in 2022-12, with the labels that each got.

#116 Fix hdf5 build
  .github/workflows/build_pkg_runner.yml
  scripts/build.d/hdf
Labels: bug

#118 Qt script
  scripts/build.d/netcdf
  scripts/build.d/qt
Labels: enhancement

#119 change qt tarball file type to tat.xz
  scripts/build.d/qt
Labels: enhancement

#123 Add build script for tmux
  scripts/build.d/libevent
  scripts/build.d/tmux
Labels: enhancement

#125 Add silver searcher build script
  scripts/build.d/ag
Labels: build script

#127 Add build script for git (version 2.39.0)
  scripts/build.d/git
Labels: build script

#128 Fix cmake build script to use the latest version 3.25.1
  scripts/build.d/cmake
Labels: build script

#129 Update Python build script
  scripts/build.d/openssl
  scripts/build.d/python
  scripts/func.d/build_utils
Labels: fix, build script

#130 Update numpy build script
  scripts/build.d/cython
  scripts/build.d/numpy
Labels: build script

#131 Update pybind11 to version 2.10.2 and fixing it using tarball
  scripts/build.d/pybind11
Labels: build script
